# Node.js
node_modules/
npm-debug.log
yarn-debug.log*
yarn-error.log*

# Variables de entorno
.env

# Carpeta de uploads, si no quieres subir archivos temporales
src/uploads/
uploads

# Otros archivos o carpetas temporales
.DS_Store
